


header {
    width: calc(100% - 8rem);
    max-width: 150rem;
    height: 21rem;
    margin: 3rem auto;

    border-radius: 20px;
    background-color: hsl(240, 90%, 60%);
    box-shadow: inset 0 0 30px 10px rgba(0,0,0,0.8);
    
    z-index: 100;
}
    header .pattern {
        background-color: rgba(0, 0, 0, 0.2);
        width: 60%;
        transform: skewX(10deg);
        position: absolute;
        height: 80%;
        left: 0%;
        transform-origin: 0 100%;

        z-index: 0;
    }

    header .pattern::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: inherit;
        pointer-events: none;
        transform: skewX(20deg);
    }

    .logo img {
        margin-top: 2.5rem;
        margin-left: 4rem;
        width: 160px;
        height: 160px;

        float: left;
        border-radius: 50%;
        z-index: 1;
        position: relative;
    }

    .header {
        margin-top: 2rem;
        margin-right: 4rem;
        width: calc(100% - 27rem);
        height: 90px;

        float: right;
        align-content: center;

        z-index: 1;
        position: relative;
    }

    .header h1 {
        text-align: center;
        
        font-family: 'Didot', serif;
        font-weight: 600;
        font-size: 9rem;
        color: black;

        text-shadow: 0 0 20px hsl(97, 100%, 92%);
    }

        @media (max-width: 80rem) {
            .header h1 {
                font-size: 7vw;
            }
        }

        @media (max-width: 59.5rem) {
            .header h1 {
                font-size: 6.7rem;
            }
        }


    .subheader {
        margin-top: 3.5rem;
        margin-right: 4rem;
        width: calc(100% - 28rem);
        height: 30px;

        float: right;
        display: flex;
    }

    .subheader h2 {
        place-self: center;
        margin-inline: auto;

        font-size: 4rem;
        font-family: 'Bai Jamjuree2', sans-serif;
        font-weight: 400;
        color: white;

        text-shadow: 0 0 20px white;
    }



nav {
    height: 60px;
    margin: 30px auto;

    align-content: center;
    position: sticky;
    top: 0;
    z-index: 10000;

    background-color: hsl(0, 0%, 20%);
}

    nav ul {
        list-style: none;
        text-align: center;
    }

    nav li {
        margin-inline: 50px;

        display: inline-block;

        text-transform: uppercase;

        font-size: 32px;
        font-family: 'Bai Jamjuree2', sans-serif;
        font-weight: 500;
    }

    nav li a {
        text-decoration: none;
        color: white
    }

    nav li a:hover, .nav li a:active, .nav li a:focus{
        text-shadow: 0 0 20px black;
    }