


header {
    width: calc(100% - 8rem);
    max-width: 120rem;
    height: 21rem;
    margin: 3rem auto;

    border-radius: 20px;
    background-color: #4e69ed;
}

    .logo {
        margin-top: 3rem;
        margin-left: 4rem;
        width: 150px;
        height: 150px;

        float: left;
        
        background-color: lightgray;
    }

    .header {
        margin-top: 3rem;
        margin-right: 4rem;
        width: calc(100% - 28rem);
        height: 90px;

        float: right;
        align-content: center;

        background-color: lightgray;
    }

    .header h1 {
        text-align: center;
        
        font-family: 'Didot', serif;
        font-weight: 600;
        font-size: 8rem;
        color: black;
    }

        @media (max-width: 71.5rem) {
            .header h1 {
                font-size: 7vw;
            }
        }

        @media (max-width: 59.5rem) {
            .header h1 {
                font-size: 6.7rem;
            }
        }


    .subheader {
        margin-top: 3rem;
        margin-right: 4rem;
        width: calc(100% - 28rem);
        height: 30px;

        float: right;
        display: flex;

        background-color: lightgray;
    }

    .subheader h2 {
        place-self: center;
        margin-inline: auto;

        font-size: 4rem;
        font-family: 'Bai Jamjuree2', sans-serif;
        font-weight: 400;
        color: white;
    }



nav {
    height: 60px;
    margin: 30px auto;

    align-content: center;
    position: sticky;
    top: 0;

    background-color: #3b8ff7;
}

    nav ul {
        list-style: none;
        text-align: center;
    }

    nav li {
        margin-inline: 50px;

        display: inline-block;

        text-transform: uppercase;

        font-size: 32px;
        font-family: 'Bai Jamjuree2', sans-serif;
        font-weight: 500;
    }

    nav li a {
        text-decoration: none;
        color: black;
    }

    nav li a:hover, .nav li a:active, .nav li a:focus{
        color: white;
    }