
main {
    width: calc(100% - 8rem);
    max-width: 142rem;
    margin: 3rem auto;

    /* background-color: gray; */
}

    .section1 {
        margin: 3rem auto;
        width: calc(100% - 8rem);
        height: 36rem;

        position: relative;
        
        border-radius: 2rem;
        background-color: hsl(108, 66%, 54%);
        box-shadow: inset 0 0 30px 10px rgba(0,0,0,0.8);

        z-index: 1;
    }

        .section1 .pattern {
            background-color: rgba(0, 0, 0, 0.2);
            width: 30%;
            transform: skewX(10deg);
            position: absolute;
            height: 100%;
            left: -10%;
            transform-origin: 0 100%;
        }
        
        .section1 .pattern::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: inherit;
            pointer-events: none;
            transform: skewX(20deg);
        }

        .section1 h2, .section2 h2, .section3 h2, .section4 h2{
            padding-top: 2rem;
            padding-bottom: 2rem;

            text-align: center;
            text-transform: uppercase;

            font-size: 4rem;
            font-family: 'Bai Jamjuree2', sans-serif;
            font-weight: bold;
            text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        }

        .section1 p {
            padding-top: 0.5rem;

            text-align: center;
            font-size: 3rem;
            font-family: 'IBM PLex Mono2', sans-serif;

            text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        }

        .content1 {
            display: flex;

            justify-content:space-evenly;
            align-items: center;
        }

            .content1 .text1 {
                margin-top: 3rem;
                margin-right: 20rem;
                margin-bottom: 3rem;
                margin-left: 3rem;

                display: flex;

                flex-direction: column;
                align-items: center;
            }

                .section1 .content1 button {
                    width: 30rem;
                    margin-top: 2rem; /* Add margin-top to create space between the button and the paragraph */
                    margin-bottom: 2rem;

                    padding: 1rem 3rem;
                    border-radius: 3rem;
                    cursor: pointer;

                    font-size: 2rem;
                    font-family: 'IBM PLex Mono2', sans-serif;

                    border: none;
                    color: white;
                    background-color: #FF0077;
                    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
                }

        .section1 .photo1 {
            margin-left: 20rem;
            margin-right: 3rem;
            width: 24rem;

            z-index: 1;
        }

        @media (max-width: 80rem) {
            .section1 .photo1 {
                width: 18.7vw;
            }
        }

        @media (max-width: 59.5rem) {
            .section1 .photo1 {
                width: 17.8rem;
            }
        }



        .section2 {
            margin: 3rem auto;
            width: calc(100% - 8rem);
            padding-bottom: 2rem;

            position: relative;
            
            border-radius: 2rem;
            background-color: hsl(108, 66%, 54%);
            box-shadow: inset 0 0 30px 10px rgba(0,0,0,0.8);
        }

            .section2 .pattern {
                background-color: rgba(0, 0, 0, 0.2);
                width: 40%;
                transform: skewX(10deg);
                position: absolute;
                height: 100%;

                left: -10%;
                transform-origin: 0 100%;
                z-index: 0;
            }
            
            .section2 .pattern::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: inherit;
                pointer-events: none;
                transform: skewX(20deg);
            }

            .content2 {
                margin-inline: 5rem;
                gap: 5rem;

                justify-content:space-evenly;
                align-items: center;

                position: inherit;
                z-index: 1;
            }

                .content2 .text2 {
                    font-size: 2rem;
                    font-family: 'IBM PLex Mono2', sans-serif;
                    text-align: justify;
                }

                    .content2 .text2 p {
                        margin-bottom: 2rem;
                        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
                    }



        .section3 {
            margin: 3rem auto;
            width: calc(100% - 8rem);
            padding-bottom: 2rem;

            position: relative;
            
            border-radius: 2rem;
            background-color: hsl(108, 66%, 54%);
            box-shadow: inset 0 0 30px 10px rgba(0,0,0,0.8);
        }

            .section3 .pattern {
                background-color: rgba(0, 0, 0, 0.2);
                width: 40%;
                transform: skewX(10deg);
                position: absolute;
                height: 100%;

                left: -10%;
                transform-origin: 0 100%;
                z-index: 0;
            }
            
            .section3 .pattern::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: inherit;
                pointer-events: none;
                transform: skewX(20deg);
            }

            .content3-4 {
                margin-inline: 5rem;
                gap: 5rem;

                display: grid;
                grid-template-columns: 1.2fr 1fr;
                justify-content:space-evenly;
                align-items: center;

                position: inherit;
                z-index: 1;
            }

                .content3-4 .text3 {
                    
                    font-size: 2rem;
                    font-family: 'IBM PLex Mono2', sans-serif;
                    text-align: justify;
                }

                    .content3-4 .text3 p {
                        margin-bottom: 2rem;
                        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
                    }

                .content3-4 .text4 {
                    font-size: 2rem;
                    font-family: 'IBM PLex Mono2', sans-serif;
                    text-align: center;
                }

                    .content3-4 .text4 p {
                        margin-bottom: 1rem;
                        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
                    }

                    .content3-4 .text4 button {
                        width: 30rem;
                        margin-top: 2rem; /* Add margin-top to create space between the button and the paragraph */
                        margin-bottom: 2rem;

                        padding: 1rem 3rem;
                        border-radius: 3rem;
                        cursor: pointer;

                        font-size: 2rem;
                        font-family: 'IBM PLex Mono2', sans-serif;

                        border: none;
                        color: white;
                        background-color: #FF0077;
                        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
                    }



        .section4 {
            margin: 3rem auto;
            width: calc(100% - 8rem);
            padding-bottom: 2rem;

            position: relative;
            
            border-radius: 2rem;
            background-color: hsl(108, 66%, 54%);
            box-shadow: inset 0 0 30px 10px rgba(0,0,0,0.8);
        }

            .section4 .pattern {
                background-color: rgba(0, 0, 0, 0.2);
                width: 40%;
                transform: skewX(10deg);
                position: absolute;
                height: 100%;

                left: -10%;
                transform-origin: 0 100%;
                z-index: 0;
            }
            
            .section4 .pattern::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: inherit;
                pointer-events: none;
                transform: skewX(20deg);
            }

            .content5-6 {
                margin-inline: 5rem;
                gap: 2rem 5rem;

                display: grid;
                grid-template-columns: 1.2fr 1fr;
                grid-template-rows: 1rem 1fr;
                justify-content:space-evenly;
                align-items: center;

                position: inherit;
                z-index: 1;
            }

                /* .content5-6 h2 {
                    padding-bottom: 0;
                    margin-bottom: 0;
                } */

                .content5-6 h3 {
                    font-size: 2.5rem;
                    font-family: 'Bai Jamjuree2', sans-serif;
                    text-align: center;
                    text-transform: uppercase;

                    grid-row: 1;
                }

                .content5-6 .text5 {
                    
                    font-size: 2rem;
                    font-family: 'IBM PLex Mono2', sans-serif;
                    text-align: center;
                }

                    .content5-6 .text5 p {
                        margin-bottom: 2rem;
                        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
                    }

                .content5-6 .text6 {
                    font-size: 2rem;
                    font-family: 'IBM PLex Mono2', sans-serif;
                    text-align: center;
                }

                    .content5-6 .text6 p {
                        margin-bottom: 1rem;
                        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
                    }

                    .content5-6 .text6 button {
                        width: 30rem;
                        margin-top: 2rem; /* Add margin-top to create space between the button and the paragraph */
                        margin-bottom: 2rem;

                        padding: 1rem 3rem;
                        border-radius: 3rem;
                        cursor: pointer;

                        font-size: 2rem;
                        font-family: 'IBM PLex Mono2', sans-serif;

                        border: none;
                        color: white;
                        background-color: #FF0077;
                        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
                    }